# Environment Variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Logs
logs/*.log

# Data files
data/*.txt
data/*.csv

# IDE-specific files
.vscode/
.idea/

.md

